@model IEnumerable<SGMed.Models.ExameModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Exames</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar</a>
</p>
<table class="table" style="background-color:#1FAF9E">
    <thead>
        <tr style="color:white">
            <th>
                @Html.DisplayNameFor(model => model.DescricaoExame)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="color:#FFFFFF">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoExame)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdExame">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdExame">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdExame">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
