@model IEnumerable<SGMed.Models.ClienteModel>

@{
    ViewData["Title"] = "Cliente";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar</a>
</p>


<table id="tblcliente" class="table table-hover" style="background-color:#1FAF9E">
    <br />
    <thead>
            <tr style="color:white">
                <th >
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="color:#FFFFFF">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCliente)
            </td>
            <td>
                        <a class="btn btn-warning"  asp-action="Edit" asp-route-id="@item.IdCliente"> Editar</a>

                        <a class="btn btn btn-primary" asp-action="Details" asp-route-id="@item.IdCliente">  Detalhes</a>

                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCliente"> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
