@model IEnumerable<SGMed.Models.ClienteModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Adicionar</a>
</p>

<div >
    <table class="table" style="background-color:#1FAF9E">
    <thead>
            <tr style="color:white">
                <th >
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="color:white">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoCliente)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.IdCliente" class="btn btn-warning" <i class="bi bi-pencil-square"></i>Editar</a>


                        <a class="btn btn btn-primary" asp-action="Details" asp-route-id="@item.IdCliente"> <i class="bi bi-pencil-square"></i>Detalhes</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCliente"<i class="bi bi-pencil-square"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
