@model IEnumerable<SGMed.Models.EmpresaModel>

@{
    ViewData["Title"] = "View";
}

<h1>Empresas</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Adicionar</a>
</p>
<table class="table" style="background-color:#1FAF9E">
    <thead>
        <tr style="color:white">
            <th>
                @Html.DisplayNameFor(model => model.NomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnderecoEmpresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="color:#FFFFFF">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnderecoEmpresa)
            </td>
            <td>                

                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdEmpresa">Edit</a> |
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdEmpresa">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdEmpresa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
